<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        /* Reset some default styles */
        body, h1, h2, h3, p, a {
            margin: 0;
            padding: 0;
            font-size: 100%;
            font-weight: normal;
            text-decoration: none;
        }

        body {
            font-family: 'Arvo', serif;
            background: #fff;
        }

        .page_404 {
            padding: 40px 0;
            text-align: center;
        }

        .four_zero_four_bg {
            background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
            height: 400px;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .four_zero_four_bg h1 {
            font-size: 80px;
            color: #fff;
        }

        .four_zero_four_bg h3 {
            font-size: 40px;
            color: #fff;
        }

        .contant_box_404 {
            margin-top: -50px;
        }

        .contant_box_404 h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .contant_box_404 p {
            font-size: 16px;
            color: #777;
            margin-bottom: 20px;
        }

        .link_404 {
            color: #fff !important;
            padding: 10px 20px;
            background: #39ac31;
            margin: 20px 0;
            display: inline-block;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
        }

        @media (max-width: 768px) {
            .four_zero_four_bg {
                height: 300px;
            }

            .four_zero_four_bg h1 {
                font-size: 60px;
            }

            .four_zero_four_bg h3 {
                font-size: 30px;
            }

            .contant_box_404 {
                margin-top: 0;
            }
        }
    </style>
</head>
<body>

    <section class="page_404">
        <div class="container">
            <div class="row">	
                <div class="col-sm-12">
                    <div class="four_zero_four_bg">
                        <h1 style="color: black;" class="text-center text-black">404</h1>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        
                        
                        <div class="contant_box_404">
                            <h3 class="h2">Look like you're lost</h3>
                            <p>The page you are looking for is not available!</p>
                            <a href="/" class="link_404">Go to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
