<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 20px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
    }

    .container {
      background-color: #000;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
      padding: 20px;
      width: 300px;
    }

    h1 {
      color: #fff;
      font-size: 24px;
      margin-bottom: 20px;
    }

    form {
      margin-top: 20px;
    }

    label {
      display: block;
      text-align: left;
      margin-top: 10px;
      color: #aaa;
      font-size: 14px;
    }

    input[type="email"] {
      width: calc(100% - 20px);
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #fff;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 14px;
      color: #fff;
      background-color: transparent;
      outline: none;
    }

    button {
      width: calc(100% - 20px);
      background-color: #ffffff;
      color: #000000;
      border: solid 1px rgb(0, 0, 0);
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    button:hover{
      background-color: #aaa;
      color: #fff;
    }

    .alert {
      color: #ff0000;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Forgot Password?</h1>

    <form method="post" action="/forgotpasspost">
      <label for="email">Enter Email</label>
      <input type="email" id="email" name="email" required>
      <% if(expressFlash.emaile){ %>
        <div class="alert text-start"><%= expressFlash.emaile %></div>
      <% } %>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
