<!-- order_detail.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>



    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
         .username{
        font-weight: 600;
        color: #F0EAD6;
    }
.heroprofile{
    max-height: 100px;
}
    .welcome{
        color: #efeeee;
        font-weight: 200;
    }
    .category-options {
      display: none;
    }
    .search-bar {
      background-color: #3b5d50;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      margin: 0;
      display: flex;
      border: 2px solid #efeeee;
      border-radius: 30px;
      overflow: hidden;
    }

    .search-input {
      border: none;
      padding: 10px;
      width: 800px;
      background-color: #3b5d50;
      color: white;
    }

    .search-button {
      background-color: #3d5d50;
      color: white;
      border: none;
      padding: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
    }
        </style>
    <!-- Add your CSS styles here -->
</head>
<body>
    <%- include('userpartials/nav')%>

  <h1>Order Detail</h1>

  <h2>Order </h2>
  <p>Status: </p>

  <h3>Order Items</h3>
  <ul>
    
  </ul>

  <h3>Tracking History</h3>
  <ul>
    
  </ul>

  <%- include('userpartials/footer')%>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/custom.js"></script>

</body>
</html>
