<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
      <a class="sidebar-brand brand-logo" href="index.html"><h2>Furnify<span>.</span><h2></a>

    </div>
    <ul class="nav">
      
      <li class="nav-item">
        <a class="nav-link" href="/admin/adminpanel">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/admin/product">
          <i class="mdi mdi-contacts menu-icon"></i>
          <span class="menu-title">Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orderPage">
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          <span class="menu-title">Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/Category">
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          <span class="menu-title">Categories</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/userslist">
          <i class="mdi mdi-table-large menu-icon"></i>
          <span class="menu-title">Customer</span>
        </a>
      </li>
     
    
      <li class="nav-item sidebar-actions">
        <div class="nav-link">
          <div class="mt-4">
            <ul class="mt-4 pl-0">
              <li><a href="adminlogout">Log Out</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>