		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">Furnify<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<!-- <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
						<li><a class="nav-link" href="contact.html">Contact us</a></li>
					</ul> -->
				<div class="search-bar">
						<input type="text" class="search-input" placeholder="Search...">
						<button class="search-button"><img src="images/searcharrow.png"></button>
					  </div>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="/"><img src="images/homesvg.svg"></a></li>
						<li><a class="nav-link" href="/profile"><img src="images/user.svg"></a></li>
						<li><a class="nav-link" href="/cartpage"><img src="images/cart.svg"></a></li>
					</ul>
				</div>
			</div>
			
           
				
		</nav>
		<div class="select-line" style="background-color: #3b5d50;">
			<ul class="custom-horizontal-list navbar-nav ms-auto mb-2 mb-md-0" style="display: flex; list-style: none; flex-direction: row; justify-content: center; gap: 23px;">
				<% categories.filter(category => category.status !== false).forEach(category => { %>
					<li class="nav-item">
					  <a class="nav-link" href="/shop?category=<%= category._id %>" style="color: #F0EAD6; font-size: 150%;">
						<%= category.name %>
					  </a>
					</li>
				  <% }); %>
				  
			</ul>
		</div>